/*Resetando margens, padding e box-sizing para garantir consistência entre navegadores*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Estilo geral do corpo da pagina*/
body{
    font-family: 'Times New Roman', sans-serif;
    background-color: #FFF0F5;
    color: #333;
}

/*Estilo do header e footer*/
header, footer{
    background-color: #FF84A1; 
    color:white; 
    text-align: center;
    padding: 1rem 0;
}

/*Estilo do titulo do header*/
header h2{
    font-size: 2rem;
    padding-bottom: .8rem;
}

/*Estilo da barra de navegacao */
header ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

/*Estilo dos links clicavel*/
header li a {
    text-decoration: none;
    color: white;
    border-radius: 5px;
    padding: .2rem .8rem;
    font-weight: bold;
}

/*Animacao do mouse sob os links */
header li a:hover{
    color: #FF84A1;
    background-color: white;
    transition: 0.3s;
}

/*Estilo da secao de destaque, centralizando o texto e dando um fundo degrade rosa*/
.cover{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    background: linear-gradient(to right, #FF84A1 0%,rgba(255, 132, 161,0.4) 100%); 
    color: white;
    text-align: center;
    padding: 2rem 0;
    margin-bottom: 2rem;
}

/*Estilo do main, centralizando o conteudo e dando um espaçamento entre as secoes*/
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
    padding: 2rem 0;
}

/*Estilo das secoes do main*/
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70vw;
    background-color: #fff;
    border: 1px solid rgba(255, 132, 161, 0.7);
    border-radius: 1rem;
    padding: 1.2rem;
    box-shadow: 0 4px 40px rgba(240, 157, 157, 0.37);
}

/*Animacao do mouse sob as secoes*/
section:hover{
    border-color: #fa577d;
    transform:scale(1.01);
    transition: 0.3s;
}

/*Estilo dos titulos das secoes*/
h2{
    padding-bottom: .8rem;
}

/*Estilo do container dos personagens*/
.container{
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    flex-wrap: wrap;
}

/*Estilo dos cards dos personagens*/
.personagens{
    background-color: rgba(255, 132, 161, 0.6);
    border-radius: 1.2rem;
    padding: .8rem 1.6rem;
    text-align: center;
    cursor: pointer;

}

/*Animacao do mouse sob os personagens*/
.personagens:hover{
    background-color: rgba(255, 132, 161, 0.9);
    transition: 0.3s;
}

/*Estilo das imagens na secao galeria*/
#galeria img{
    width: 10rem;
    height: 10rem;
    background: linear-gradient(to top, #FF84A1 0%,rgba(255, 132, 161,0.4));
    border-radius: 2rem;
    margin:.5rem;
    padding: .5rem;
}

/*Animacao do mouse sob as img*/
img:hover{
    background-color: #fff;
    transition: 0.3s;
    transform: scale(1.02);
    border-style: inset;
}

/*Estilo do formulario de contato*/
form{
    display: flex;
    flex-direction: column;
}

/*Estilo dos inputs e textarea do formulario*/
form input, form textarea{
    padding: .8rem;
    margin-bottom: 1rem;
    border: 1px solid rgba(255, 132, 161, 0.7);
    border-radius: .8rem;
}

/*Estilo do placeholder dos inputs*/
form ::placeholder{
    color: #717171;
}

/*Estilo do botao de submit*/
form input[type="submit"]{
    background-color: #ff84a1;
    color: white;
    border: none;
    padding: .8rem;
    border-radius: .8rem;
    font-weight: bold;
    cursor: pointer;
}

/*Scroll suave para os links de navegação */
html{
    scroll-behavior: smooth;
}